
#titulo{
    background-color: white;
    width: 100%;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    text-align: center;
}
#usuario{
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: white; 
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.5s;
}

#navbar{
    display: inline-block;
}
#equis{
    display: inline-block;
    position: absolute;
}

#navbar:hover, #equis:hover{
    background-color: lightgray;
}

#Actualizacion{
    background-color: white;
    height: 33.3%;
    width: 100%;
    display:flex;
    justify-content: space-around;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
.Act{
    width: 40%;
    height: 90%;
    text-align: center;
}
#Profile{
    width: 50%;
    height: 20%;
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 5%;
    
}

.titulo{
    height: 10%;
    width: 100%;
}

#Tit1{
    background-color: white;
}

#Titulo-Recom{
    color: black;
    margin-left: 5%;
    margin-top: 2%;
}

#TotRecom{
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

#recomendaciones{
    background-color: white;
    height: 33.3%;
    width: 100%;
    display:flex;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
}

.recom{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imag-recom{
    height: 200px;
    width: 200px;
}

.Descripcion{
    color: black;
}

#TotPlat{
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

#Titulo-Platillos{
    color: black;
    margin-left: 5%;
    margin-top: 2%;
}

#Tit2{
    background-color: white;
}

#platillos{
    background-color: white;
    height: 33.3%;
    width: 100%;
    display:flex;
    justify-content: space-around;
}


.fa-bars{
    
}

.fa-times-circle{

}