body{
    margin: 0;
}

#top{
    width: 100%;;
    display: grid;
    background: linear-gradient(90deg, rgba(224,144,10,1) 37%, rgba(212,110,10,1) 55%);
}

#titulo_pag{
    grid-column-start: 5;
    text-align: center;
}

#TitlePag{
    color: white;
    text-shadow: 2px 2px black;
}

#SubTitlePag{
    color: white;
    text-shadow: 2px 2px black;
}

#options{
    text-align: center;
    grid-column-start: 8;
    grid-column-end: 10;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#usuario{
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #0088cc; 
    overflow-x: hidden; 
}

#navbar{
    display: inline-block;
    grid-column-start: 1;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 5%;
}

#equis{
    width: 100%;
    position: absolute;
}

#BotOpc{
    width: 100%;
    display: flex;
    justify-content: center;
}

.fa-times-circle{
    float: right;
}

.fa-bars:hover, .fa-times-circle:hover{
    background-color: lightgray;
}

#Actualizacion{
    background: url('../Resources/nutri2.jpg');
    height: 33.3%;
    width: 100%;
    display:flex;
    justify-content: space-around;
    padding-bottom: 2%;
    padding-top: 2%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.Act{
    width: 40%;
    height: 90%;
    text-align: center;
    color: white;
}

#compr-act{
    color: red;
}

#act-hecha{
    color: green;
}

.fa-smile-beam{
    color: green;
}

.dateAct{
    /*-webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;*/
    text-shadow: 2px 2px black;
}

.fa-frown{
    color: red;
}

#Profile{
    width: 50%;
    height: 20%;
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 5%;
    
}

.titulo{
    height: 10%;
    width: 100%;
}



#Titulo-Recom{
    color: black;
    margin-left: 5%;
    margin-top: 2%;
    text-shadow: 2px 2px grey;
}

#TotRecom{
    background: radial-gradient(circle, rgba(14,184,41,1) 37%, rgba(3,119,25,1) 66%);
    padding-top: 2%;
    margin-bottom: -2%;
}

#recomendaciones{
    height: 33.3%;
    width: 100%;
    display:flex;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
}

.recom{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.imag-recom{
    height: 200px;
    width: 200px;
}

.Descripcion{
    color: black;
    font-size: 20px;
}

#TotPlat{
    background: url('../Resources/diet2.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 2%;
}

#Titulo-Platillos{
    color: lightgray;
    margin-left: 5%;
    margin-top: 2%;
    text-shadow: 2px 2px black;
}

#platillos{
    height: 33.3%;
    width: 100%;
    display:flex;
    justify-content: space-around;
}

.tiempo-comida{
    color: lightgray;
    text-shadow: 2px 2px black;
}


@media screen and (max-width: 767px){
    #TitlePag{
        font-size: 30px;
    }

    #SubTitlePag{
        font-size: 20px;
    }

    #options{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 17px;
    }
    
    #Profile{
    display: none;
    }

    .infoUsuario{
        font-size: 18px;
        margin-right: 2%;
    }
}

@media screen and (max-width: 500px) {
    
    #TitlePag{
        font-size: 25px;
    }

    #SubTitlePag{
        font-size: 15px;
    }

    #options{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }

    #Profile{
        display: none;
    }

    #Actualizacion{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .infoUsuario{
        font-size: 15px;
        margin-right: 2%;
    }

    #recomendaciones{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #platillos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
